.login-error {
	max-width: 25em;
	text-align: center;
	display: block;
	margin: 0 auto;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

#login-header {
	text-align: center;
	margin-top: 3em;
}