.left-nav {
	height: 100%;
	width: 20em;
	margin-left: 20%;
}
.field-group {
	width:50%;
}
.content {
	margin-top: 5em;
}
.submit-button {
	margin-top: 2em;
}
.loading-circle {
	position: absolute;
	margin-top: 10em;
	left: 20%;
}