<!-- app/index.html -->
doctype html
html(lang="en")
	head
		include partials/common.pug
		meta(charset= "utf-8")
		title= Business
		link(rel="stylesheet" href="/../css/catalog.css")
	body
		div(id="content")
		script(src="/../bundles/catalog.bundle.js")