<!-- app/index.html -->
doctype html
html(lang="en")
	head
		include partials/common.pug
		meta(charset= "utf-8")
		title= Business
	body
		div(id="content")
		script(src="/../bundles/home.bundle.js")